.header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgb(255, 255, 255); 
    height: 72px ; 
    margin: 10px 1px;
    align-content: space-around;
    align-items: center;
    box-shadow: 3px 3px 3px 5px #dddddd;
    
}
.logo {
    display: inline-flex;
    letter-spacing: 0.1em;
    margin: 1px 1px ;
    padding: 1px 5px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    height: 50px;
}
.btnbskt {
    display: inline-flex;
    justify-content: flex-end;
}
.btn-lg {
    display: inline-block;
    box-sizing: border-box;
    padding: 1px 20px;
    margin: 16px 6px;
    outline: none;
    border: 1px solid #E0E0E0;
    border-radius: 3px;
    font-size: 13px;
    font-weight: 500;
    font-style: normal;
    font-family:Georgia, 'Times New Roman', Times, serif;
    height: 38px;
    
}
.basket {
    display: inline-block;
    border: #f0f0f0;
    margin: 20px 7px;
    padding: 5px 5px;
    width: 24px;
    height: 25px;
    background: url(/img/basket-new1.png);
}

.search {
display: flex;
flex-flow: row nowrap;
justify-content: flex-start;
padding-left: 9px;
margin: 10px 0px;
margin-top: 25px;

}
.search input {
  width: 250px;
  height: 24px;
  padding-left: 10px;
  border: 1px solid #b5b5b5;
  border-radius: 5px;
  outline: none;
  background: #f0f0f0;
  color: #9E9C9C;
}
.search button {
  width: 52px;
  height: 24px;
  margin: 0px 1px;
  border: none;
  background: rgb(194, 194, 194);
  border-radius: 5px;
  cursor: pointer;
}

.menuitems {
  display: flex;
  flex-flow:row wrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: space-between;
  max-width: 1900px;
  margin: 1px -4px;
}

.mi-el1,
.mi-el2,
.mi-el3,
.mi-el4,
.mi-el5,
.mi-el6,
.mi-el7,
.mi-el8,
.mi-el9 {
  flex-basis: auto;
  text-align:start;
  padding: 5px 5px;
  margin: 1px 1% ;
}
.list-info {
  list-style-type: none;
  margin: 7px 1px;
  padding: 2px 1px;
}

.ftrmain {
  /*display: flex;
  flex-flow: row wrap;
  justify-content: space-between;*/
  max-width: 1900px; 
  margin: 1px 1px;
  padding: 1px 1px;
  background-color: #262626;
  
}

.logoftr {
  display: flex;
  justify-content: flex-start;
  margin: 5px;
  padding-left: 10px;
}

.about-ftr {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

}

.planet-lang {
margin: -5px 1px;
padding: 1px 1px;
}

.apps-ftr {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.terms-ftr {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
 
}

.about-ftr,
.terms-ftr {
  color: #f0f0f0;
  margin: 5px;
  padding: 1px 10px;
}


.lang-ftr {
  color: #ffffff;
  background-color: #262626;
  padding: 1px 15px;
  height: 18px;
  font-size: 12px;

}
.about-ftr li{
  list-style-type:none;
}
.about-ftr ul {
  padding: 1px 1px;
  margin: 5px 1px;
}
.apps-ftr {
  margin: 20px 1px;
}

hr {
  margin: 1px 10px;;
}

@media (max-width:595px) {
  .menuitems {
    display: flex;
    justify-content: center;
  }

  .about-ftr,
  .terms-ftr {
    display: flex;
    justify-content: flex-start;

  }
  .list-about-ftr1 {
    margin-top: 8px;
    margin-right: 5px;
  }
  .langselect {
    margin-right: 5px;
  }
 
}